</div>
<div class="col-xs-12" style="background:#fff; ">
    <div style="text-align:center;padding: 15px 0px;font-weight:400">
        2017 © Peer to Peer RTC Designed by Habeeb <br>
        <button class="btn btn-danger btn-sm btn-round" style="border-radius:100%;box-shadow:0 1px 10px 0 darkgrey;border:none">
                    <i class="fa fa-facebook"></i>
                    </button>
        <button class="btn btn-danger btn-sm btn-round" style="border-radius:100%;box-shadow:0 1px 10px 0 darkgrey;border:none">
                    <i class="fa fa-instagram"></i>
                    </button>
        <button class="btn btn-danger btn-sm btn-round" style="border-radius:100%; box-shadow:0 1px 10px 0 darkgrey;border:none">
                    <i class="fa fa-whatsapp"></i>
                    </button>
    </div>
</div>
</div>
<script src="./js/adapter.js"></script>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/custom.js"></script>


</body>

</html>