{{> header  }}
            <!-- second nav -->
            <div class="second-nav" >
                <ul class="nav navbar-nav hidden-xs">
                    <li class="list text"> CHAT PAGE</li>

                </ul>
                <ul class="nav navbar-nav  right-nav ">
                    <li class="list text" style="color:#aaa"> Dashboard</li>
                    <li class="list text slash" style="padding-left:0%;padding-right:0px"> /</li>
                    <li class="list text" style="color:#f44336;"> Chat Page</li>

                    <li class="list  button hidden-xs">
                        <a href="/logout" class="btn btn-danger btn-sm ">
                        Logout
                    </a>
                    </li>
                    <li class="list  button hidden-xs"><button class="btn btn-primary btn-sm btn-round img-rounded">
                    <i class="fa fa-share-alt"></i>
                    </button></li>
                </ul>
                <div class="clearfix">
                </div>
            </div>

            <!-- main page -->

            <div class="row zero ">
                <div class="col-sm-12 main-page">
                    <div class="page-start zoomInUp animated">

                        <div class="row zero page-row">
                            <div class=" col-sm-3 zero left-grid hidden-xs  ">


                                <input type="text" placeholder="Search Contact" class="form-control" name="" id="">

                                <a class="" href="">
                                    <div>
                                        <div class="img">
                                            <img src="./images/user.jpg" width="70%" class="img-responsive img-rounded" alt="Image">
                                        </div>
                                        <div class="name">
                                             {{user.username}}<br>
                                            <small class="busy"> Busy</small>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>


                                </a>
                                <a class="active" href="">
                                    <div>
                                        <div class="img">
                                            <img src="./images/user.jpg" width="70%" class="img-responsive img-rounded" alt="Image">
                                        </div>
                                        <div class="name">
                                            Quadri Bade<br>
                                            <small class="online"> online</small>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>


                                </a>
                               
                         

                            </div>

                            <div class="col-sm-10 zero right-grid" >
                                <div class="page-title">
                                    Chat Message
                                    <small><i class="fa fa-smile-o"></i></small>

                                </div>
                                <div class="row"style="height: 280px;padding:10px 0px;background:linear-gradient(90deg,#222,transparent 90%),url('./images/14.jpg');overflow:auto" >
                                    <div class="col-xs-12 "  style="margin-bottom:10px">
                                        <div class="row pull-left">
                                            <div class="col-xs-2  dp "  style="">
                                                <img src="./images/genu.jpg" width="100%" class="img-responsive img-rounded" alt="Image">
                                            </div>

                                            <div class="col-xs-10 " style="padding-left:10px">
                                                <div class="chat-box pull-left">
                                                    Hi, Genelia how are you and my son?<br>
                                                    <small style="font-size:0.8em">10:20am</small>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                   
                                    <div class="col-xs-12 " style="margin-bottom:10px">
                                        <div class="row pull-right">
                                        
                                        <div class="col-xs-10 " style="padding-right:10px">
                                            <div class="chat-box2 pull-right">
                                                Hi, Genelia how are you and my son?<br>
                                                <small style="font-size:0.8em">10:20am</small>
                                            </div>

                                        </div>
                                            <div class="col-xs-2  dp2 " style="">
                                                <img src="./images/genu.jpg" width="100%" class="img-responsive img-rounded pull-right" alt="Image">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-xs-12 " style="margin-bottom:10px">
                                        <div class="row pull-left">
                                            <div class="col-xs-2  dp " style="">
                                                <img src="./images/genu.jpg" width="100%" class="img-responsive img-rounded" alt="Image">
                                            </div>

                                            <div class="col-xs-10 " style="padding-left:10px">
                                                <div class="chat-box pull-left">
                                                    Hi, Genelia how are you and my son?<br>
                                                    <small style="font-size:0.8em">10:20am</small>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 " style="margin-bottom:10px">
                                        <div class="row pull-right">

                                            <div class="col-xs-10 " style="padding-right:10px">
                                                <div class="chat-box2 pull-right">
                                                    Hi, Genelia how are you and my son?<br>
                                                    <small style="font-size:0.8em">10:20am</small>
                                                </div>

                                            </div>
                                            <div class="col-xs-2  dp2 " style="">
                                                <img src="./images/genu.jpg" width="100%" class="img-responsive img-rounded pull-right" alt="Image">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="chat-input" >
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Type your message" name="" id="" style="border:0px;box-shadow:none; border-top:2px
                                            solid #eee;height:70px;">
                                        <span class="input-group-btn">
                                                    <button type="button" class="btn btn-custom img-rounded" style="padding:24px;">
                                                    <i class="fa fa-send"></i>
                                                    </button>
                                                </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                </div>
            </div>
            </div>

    <div class="bounceInRight animated notification" style="background:#fff; border:1px solid #D4D1D1;font-size:0.8em; border-radius:5px;width:340px;padding:5px 5px 5px 0px;box-shadow:0 2px 20px 0 #D4D3D3; position:absolute;right:0;top:60px">
            <div class="row" >
                    <div class=""  style="width:20%;float:left;padding:0px 5px 0px 0px">
                           
                           <img src="./images/genu.jpg" class="img-responsive" alt="Image">
                           
                            
                        </div>
                <div class=""  style="width:7%;float:left;text-align:center">
                            <i class="fa fa-cog"></i>
                    
                </div>
                <div class="" style="width:66%;float:left">
                    New message from Billy
                    <hr style="margin:10px 0px">
                    <p>Hi, Genelia how are you and my son?<br><small>10:20am</small>
                    
                    </p>
        
                </div>
                <div class="" style="width:7%;float:left;text-align:center">
                              <a href="#"  class="notification-close"> <i class="fa fa-times"></i></a> 
                </div>
                
            </div>
        </div>


     {{> foot}}