<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/animate.min.css">
    <link rel="stylesheet" href="./css/custom.css">
    <link rel="stylesheet" href="./font-awesome/css/font-awesome.min.css">
    <script src="./js/jquery.min.js"></script>
    <title>Document</title>
</head>

<body style="background:#eee;color:#eee">
<div style="background:linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(165, 14, 4, 0.6) 90%),url('./images/ui.png');min-height:662px;background-size:cover">
    
<nav class="navbar container navbar-inverse" role="navigation" style="background:transparent;border:none; padding:10px">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header" style="margin-right:0px">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
        <a class="navbar-brand" href="/">
            <div class="brand-logo hidden-xs"><img src="./images/admin-logo.png" alt=""></div>
            <div class="brand-name" style=" "><b><span >Campus</span></b>Connect</div>
        </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse" style="border:none;">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="/login" class="navbar-link"  style="color:#fff">
                   
                   <i class="fa fa-user"></i>
                    Login
                </a>
            </li>
            <li>
                <a href="/signup" class="navbar-link"  style="color:#fff">
                   
                   <i class="fa fa-users"></i>
                    Signup
                </a>
            </li>
        </ul>
    </div>
</nav>

    <div class="row" style="padding:40px 10px;margin:0px">
        <div class=" col-sm-4 col-sm-offset-4 bounceInLeft animated" style="overflow: hidden">

            <form action="/auth/signin"  method="POST" role="form" style="padding:0px 0px 130px">
                <div class="row" style="padding:30px 0px">
                    <div class="col-xs-4" style="padding-top:25px">
                        <div style="height:1px; background:#EEE;width:100% "></div>
                    </div>
                    <div class="col-xs-4 zero" style="font-size:1.8em;">
                        <center>
            <button type="button" class="btn btn-default" style="background:transparent; border-radius:100%;color:#fff "><i class="fa fa-instagram fa-3x"></i></button>
                            
<br>                            </center>
                    </div>
                    <div class="col-xs-4" style="padding-top:25px">
                        <div style="height:1px; background:#EEE;width:100% "></div>
                    </div>
                    
                    <div class="col-xs-12 zero"  style="font-size:1.8em;">
                            <center> CAMPUSCONNECT</center>
                        
                    </div>
                    
                </div>
                <div class="step-two animated" style="float:left; position:absolute">
                    <img src="./images/govinda.jpg" class="img-responsive" width="100px" alt="Image" style="border-radius:100%;padding:3px; border:3px solid #aaa; float:left; ">


                    <div class="input-group" style="padding:31px 0px 0px;">
                        <input name="password" type="password" class="form-control password"placeholder="Password" style="border-left:none; border-radius:0px;margin-left:-3px;">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default login" id="login" style="margin-left:-4px">Sign in</button>
                        </span>
                    </div>
                    <div style="padding:10px;">
                        <button  type="button" class="btn btn-default pull-right back" style="border-radius:100%;background:transparent;color:#eee">
                    <i class="fa fa-arrow-left  "></i>
                        </button>

                    </div>
                    <div class="clearfix">

                    </div>
                </div>
                <div class="step-one animated" style="float:left; ">
                    <img src="./images/govinda.jpg" class="img-responsive" width="100px" alt="Image" style="border-radius:100%;padding:3px; border:3px solid #aaa;float:left; ">

                    <div class="input-group" style="padding:31px 0px 0px;">
                        <input name="username" type="text" class="form-control username" id="exampleInputAmount" placeholder="Username" style="border-left:none; border-radius:0px;margin-left:-3px;">
                        <span class="input-group-btn">
                    
                            <button type="button" class="btn btn-default next" id="next" style="margin-left:-13px;border-radius:100%"><i class="fa fa-arrow-right  "></i></button>
                        </span>


                    </div>


                    <div class="clearfix">

                    </div>
                </div>
                
            </form>
            
<div>
    
    <center>
        Not a member? <a href="/signup">Sign up</a>
        <br>


        <h4> Keep in touch with family and friends</h4>
        <p>©2017 All Rights Reserved. CampusConnect is a social platform for 9ja students</p>
    </center>
</div>
        </div>

    </div>
    <div class="container">
        <span>
            Follow us on
            <button type="button" class="btn btn-default" style="background:transparent; border-radius:100%;color:#fff"><i class="fa fa-facebook"></i></button>
            <button type="button" class="btn btn-default" style="background:transparent; border-radius:100%;color:#fff"><i class="fa fa-twitter"></i></button>
            <button type="button" class="btn btn-default" style="background:transparent; border-radius:100%;color:#fff  "><i class="fa fa-instagram"></i></button>
            
            
            
        </span>
        <span class="pull-right" > Designed by <span style="color:#D3450C">Habeeb Abdulrahman</span>
         </span>
    </div>
    
    </div>
    <style>
        
        a{
            color:#D3450C
        }
        input.form-control::-webkit-input-placeholder{color:#eee}
        input.form-control {
            background: rgba(228, 223, 223, 0.2);
            border: none  ;
            color: #eee;
            -webkit-transition: 0.2s ease-in;
            -moz-transition: 0.2s ease-in;
            transition: 0.2s ease-in;

        }

        input:focus {
           
            letter-spacing: 2px;
            -webkit-transition: 0.2s ease-in;
            -moz-transition: 0.2s ease-in;
            transition: 0.2s ease-in;
        }
    </style>

    <script>
        $(document).ready(function () {
            $('.step-two').hide();
            var next = document.getElementById('next');
            var login = document.getElementById('login');
            login.disabled = true
            next.disabled = true
            console.log(next)
            $('.next').on('click', function () {
                $(".step-one").addClass('bounceOutLeft').removeClass('bounceInLeft');
                $('.step-two').show();
                $('.step-two').addClass('bounceInRight').removeClass('bounceOutRight');
            });
            $('.back').on('click', function () {

                $(".step-one").addClass('bounceInLeft').removeClass('bounceOutLeft');
                $(".step-two").addClass('bounceOutRight').removeClass('bounceInRight');

            });

            $('.username').on("keydown", function () {
                if ($(this).val() != "") {
                    next.disabled = false

                } else next.disabled = true;
            });
            $('.password').on("keydown", function () {
                if ($(this).val() != "") {
                    login.disabled = false

                } else login.disabled = true;
            })
        })
    </script>

        <script src="./js/bootstrap.min.js"></script>
        <script src="./js/custom.js"></script>
</body>

</html>