<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="./css/animate.min.css">
    <link rel="stylesheet" href="./css/custom.css">

    <title>Document</title>
    <script src="./js/jquery.min.js"></script>

</head>

<body style="background:#edf1f5;">


    <div class="row">
        <div class="col-sm-1 navbar-inverse hidden-xs zero x-left-grid">
            <div class="x-sidebar">
                <div class="home-tab">
                    <center>
                        <a href="/"><i class="fa fa-home"></i></a>
                    </center>
                </div>
                <div class="sidebar-list">
                    <a href="" class="">
                        <center>
                            <img src="./images/user.jpg" width="50%" class="img-responsive img-rounded" alt="Image">
                        </center>
                    </a>
                </div>
                <div class="sidebar-list">
                    <a href="" class="">
                        <center>
                            <i class="fa fa-th"></i>
                        </center>
                    </a>
                </div>
                <div class="sidebar-list">
                    <a href="/videocall" class="active">
                        <center>
                            <i class="fa fa-video-camera"></i>
                        </center>
                    </a>
                </div>
                <div class="sidebar-list">
                    <a href="/chat" class="">
                        <center>
                            <i class="fa fa-comments"></i>
                        </center>
                    </a>
                </div>
                <div class="sidebar-list">
                    <a href="" class="">
                        <center>
                            <i class="fa fa-envelope"></i>
                        </center>
                    </a>
                </div>
                <div class="sidebar-list">
                    <a href="" class="">
                        <center>
                            <i class="fa fa-group"></i>
                        </center>
                    </a>
                </div>
                <div class="sidebar-list">
                    <a href="" class="">
                        <center>
                            <i class="fa fa-cog"></i>
                        </center>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-11 x-right-grid">
            <nav class="navbar navbar-inverse" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                    <a class="navbar-brand" href="">
                        <div class="brand-logo"><img src="./images/admin-logo.png" alt=""></div>
                        <div class="brand-name" style=" "><b><span >Twinkas</span></b>.io</div>
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#" class="navbar-link">

                                <form action="" class="form-inline" method="POST" role="form">

                                    <div class="form-group has-feedback">
                                        <input type="text" class="form-control" id="" placeholder="Search..." style="">
                                    </div>
                                </form>

                            </a>
                        </li>
                        <li class="dropdown">

                            <img src="./images/user.jpg" width="25%" class="img-responsive" alt="Image" style="float:left; border-radius:100%;margin:12px 5px 0px">

                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:#fff">Steave <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- second nav -->
            <div class="second-nav" style="">
                <ul class="nav navbar-nav hidden-xs">
                    <li class="list text"> CHAT PAGE</li>

                </ul>
                <ul class="nav navbar-nav  right-nav ">
                    <li class="list text" style="color:#aaa"> Dashboard</li>
                    <li class="list text slash" style="padding-left:0%;padding-right:0px">/</li>
                    <li class="list text" style="color:#f44336;"> Chat Page</li>

                    <li class="list  button hidden-xs"><button class="btn btn-danger btn-sm ">
                    Buy The App Now
                    </button></li>
                    <li class="list  button hidden-xs"><button class="btn btn-primary btn-sm btn-round img-rounded">
                    <i class="fa fa-share-alt"></i>
                    </button></li>
                </ul>
                <div class="clearfix">

                </div>

            </div>

            <!-- main page -->
            <div class="row zero ">
                <div class="col-sm-12 main-page">
                    <div class="page-start zoomInUp animated">

                        <div class="row zero page-row">
                            <div class=" col-sm-3 zero left-grid  ">


                                <input type="text" placeholder="Search Contact" class="form-control" name="" id="">

                                <a class="" href="">
                                    <div>
                                        <div class="img">
                                            <img src="./images/user.jpg" width="70%" class="img-responsive img-rounded" alt="Image">
                                        </div>
                                        <div class="name">
                                            Quadri Bade<br>
                                            <small class="busy"> Busy</small>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>


                                </a>
                                <a class="active" href="">
                                    <div>
                                        <div class="img">
                                            <img src="./images/user.jpg" width="70%" class="img-responsive img-rounded" alt="Image">
                                        </div>
                                        <div class="name">
                                            Quadri Bade<br>
                                            <small class="online"> online</small>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>


                                </a>
                                <a class="" href="">
                                    <div>
                                        <div class="img">
                                            <img src="./images/user.jpg" width="70%" class="img-responsive img-rounded" alt="Image">
                                        </div>
                                        <div class="name">
                                            Quadri Bade<br>
                                            <small class="away"> Away</small>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>


                                </a>
                                <a class="" href="">
                                    <div>
                                        <div class="img">
                                            <img src="./images/user.jpg" width="70%" class="img-responsive img-rounded" alt="Image">
                                        </div>
                                        <div class="name">
                                            Quadri Bade<br>
                                            <small class="online"> online</small>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                </a>
                                <a class="" href="">
                                    <div>
                                        <div class="img">
                                            <img src="./images/user.jpg" width="70%" class="img-responsive img-rounded" alt="Image">
                                        </div>
                                        <div class="name">
                                            Quadri Bade<br>
                                            <small class="offline"> Offline</small>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                </a>

                                <a class="" href="">
                                    <div>
                                        <div class="img">
                                            <img src="./images/user.jpg" width="70%" class="img-responsive img-rounded" alt="Image">
                                        </div>
                                        <div class="name">
                                            Quadri Bade<br>
                                            <small class="offline"> Offline</small>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                </a>

                            </div>

                            <div class="col-sm-10 zero right-grid">
                                <div class="page-title">
                                    Real Time Video Chat
                                     <small><i class="fa fa-smile-o"></i></small>
                                </div>
                                
                                <div class="row">
                                    <div class="col-sm-9 zero" style="height:350px;overflow:hidden">
                                            <video id="remotevideo"src="./video/Jump-Start Your Career and Life with Code.mp4" style="width:100%" autoplay></video>
                                    </div>
                                    <div class="col-sm-3" style="border-left:1px solid #eee;min-height:300px">
                                    <video id="localvideo" autoplay></video>
    
                                        <img src="./images/user.jpg" width="100%" class="replace-img img-responsive" alt="Image">
                                        <div style="padding:5px 0px 0px;font-size:1.3em"><span>Quadri Bade </span> </div>
                                        <i class="fa fa-circle" style="font-size:0.5em;color:green"></i>
                                        <small class="online"> online</small><br>
                                        <small> Joined 10:30am 12 Aug 2017</small>
                                        <button class="btn btn-custom btn-sm  btn-block" id="callbtn">Call</button>
                                        <button class="btn btn-custom btn-sm btn-danger  btn-block" id="hangup">Hangup</button>
                                    </div>
                                </div>
                                
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="col-xs-12" style="background:#fff; ">
            <div style="text-align:center;padding: 15px 0px;font-weight:400">
                2017 © Peer to Peer RTC Designed by Habeeb <br>
                <button class="btn btn-danger btn-sm btn-round" style="border-radius:100%;box-shadow:0 1px 10px 0 darkgrey;border:none">
                    <i class="fa fa-facebook"></i>
                    </button>
                <button class="btn btn-danger btn-sm btn-round" style="border-radius:100%;box-shadow:0 1px 10px 0 darkgrey;border:none">
                    <i class="fa fa-instagram"></i>
                    </button>
                <button class="btn btn-danger btn-sm btn-round" style="border-radius:100%; box-shadow:0 1px 10px 0 darkgrey;border:none">
                    <i class="fa fa-whatsapp"></i>
                    </button>
            </div>
        </div>
    </div>
<div class="bounceInLeft animated notification"style="background:#fff; border:1px solid #D4D1D1;font-size:0.8em; border-radius:5px;width:340px;padding:5px 5px 5px 0px;box-shadow:0 2px 20px 0 #D4D3D3; position:absolute;left:0;bottom:5px">
    <div class="row" >
            <div class=""  style="width:20%;float:left;padding:0px 5px 0px 0px">
                   
                   <img src="./images/user.jpg" class="img-responsive" alt="Image">
                   
                    
                </div>
        <div class=""  style="width:7%;float:left;text-align:center">
                    <i class="fa fa-cog"></i>
            
        </div>
        <div class="" style="width:66%;float:left">
            You are now connected to Quadri Bade 
            <p>Explore and do what you love!!
            
            </p>

        </div>
        <div class="" style="width:7%;float:left;text-align:center">
                       <a href="#" class="notification-close"><i class="fa fa-times"></i></a> 
        </div>
        
    </div>
</div>
   <script>
   $('.notification').hide();
</script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/adapter.js"></script>
    <script src="./js/custom.js"></script>
</body>

</html>