{{> header}} 
            <!-- second nav -->
            <div class="second-nav" style="">
                <ul class="nav navbar-nav hidden-xs">
                    <li class="list text"> CHAT PAGE</li>

                </ul>
                <ul class="nav navbar-nav  right-nav ">
                    <li class="list text" style="color:#aaa"> Dashboard</li>
                    <li class="list text slash" style="padding-left:0%;padding-right:0px">/</li>
                    <li class="list text" style="color:#f44336;"> Chat Page</li>
                    <li class="list button  hidden-xs" >
                        <a href="/logout" class="btn btn-danger btn-sm ">
                        Logout
                    </a></li>
                    <li class="list  button hidden-xs"><button class="btn btn-primary btn-sm btn-round img-rounded">
                    <i class="fa fa-share-alt"></i>
                    </button></li>
                </ul>
                <div class="clearfix">
                </div>
            </div>

            <!-- main page -->
            <div class="row zero ">
                <div class="col-sm-12 main-page">
                    <div class="page-start zoomInUp animated">
                        <div class="row zero page-row">
                            <div class=" col-sm-3 zero left-grid  ">


                                <input type="text" placeholder="Search Contact" class="form-control" name="" id="">

                                <a class="" href="">
                                    <div>
                                        <div class="img">
                                            <img src="./images/user.jpg" width="32px" class="img-responsive img-rounded" alt="Image">
                                        </div>
                                        <div class="name">
                                         {{user.username}}<br>
                                            <small class="busy"> Busy</small>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>


                                </a>
                                <a class="active" href="">
                                    <div>
                                        <div class="img">
                                            <img src="./images/user.jpg" width="32px" class="img-responsive img-rounded" alt="Image">
                                        </div>
                                        <div class="name">
                                            Quadri Bade<br>
                                            <small class="online"> online</small>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>


                                </a>
                                <a class="" href="">
                                    <div>
                                        <div class="img">
                                            <img src="./images/user.jpg" width="32px" class="img-responsive img-rounded" alt="Image">
                                        </div>
                                        <div class="name">
                                            Quadri Bade<br>
                                            <small class="away"> Away</small>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>


                                </a>
                                <a class="" href="">
                                    <div>
                                        <div class="img">
                                            <img src="./images/user.jpg" width="32px" class="img-responsive img-rounded" alt="Image">
                                        </div>
                                        <div class="name">
                                            Quadri Bade<br>
                                            <small class="online"> online</small>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                </a>
                                <a class="" href="">
                                    <div>
                                        <div class="img">
                                            <img src="./images/user.jpg" width="32px" class="img-responsive img-rounded" alt="Image">
                                        </div>
                                        <div class="name">
                                            Quadri Bade<br>
                                            <small class="offline"> Offline</small>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                </a>

                                <a class="" href="">
                                    <div>
                                        <div class="img">
                                            <img src="./images/user.jpg" width="32px" class="img-responsive img-rounded" alt="Image">
                                        </div>
                                        <div class="name">
                                            Quadri Bade<br>
                                            <small class="offline"> Offline</small>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                </a>

                            </div>

                            <div class="col-sm-10 zero right-grid">
                                <div class="page-title">
                                    Quadri Bade <small class="online"> (online)</small>
                                </div>
                                
                                <div class="row">
                                    <div class="col-sm-9 zero video-div" style="background:url('./images/slide3.jpg')">
                                            <video id="remotevideo"style="width:100%" autoplay></video>
                                    </div>
                                    <div class="col-sm-3" style="border-left:1px solid #eee;">
                                    <video id="localvideo" autoplay></video>
    
                                        <img src="./images/user.jpg" width="100%" class="replace-img img-responsive" alt="Image">
                                        <div style="padding:5px 0px 0px;font-size:1.3em"><span>Quadri Bade </span> </div>
                                        <small ><i class="fa fa-envelope"></i> askforme@yahoo.com</small><br>
                                        <small ><i class="fa fa-phone"></i> 081818121</small><br>
                                        <small> Joined 10:30am 12 Aug 2017</small>
                                        <button class="btn btn-custom btn-sm  btn-block" id="callbtn">
                                        <i class="fa fa-video-camera"></i>
                                         Call</button>
                                        <button class="btn btn-custom btn-sm btn-danger  btn-block" id="hangup">Hangup</button>
                                    </div>
                                </div>
                                
                            </div>

                        </div>

                    </div>
                </div>
            </div>

    <div class="bounceInRight animated notification" style="background:#fff; border:1px solid #D4D1D1;font-size:0.8em; border-radius:5px;width:340px;padding:5px 5px 5px 0px;box-shadow:0 2px 20px 0 #D4D3D3; position:absolute;right:0;top:60px">
        <div class="row">
            <div class="" style="width:20%;float:left;padding:0px 5px 0px 0px">

                <img src="./images/genu.jpg" class="img-responsive" alt="Image">


            </div>
            <div class="" style="width:7%;float:left;text-align:center">
                <i class="fa fa-cog"></i>

            </div>
            <div class="" style="width:66%;float:left">
                Live Video Stream
                <hr style="margin:10px 0px">
                <p>You are now connected with Quadri Bade<br><small>10:20am</small>

                </p>

            </div>
            <div class="" style="width:7%;float:left;text-align:center">
                <a href="#" class="notification-close"> <i class="fa fa-times"></i></a>
            </div>

        </div>
    </div>
<script>
   $('.notification').hide();
</script>
 {{> foot}}